*{
    /* border: 1px solid black; */
    box-sizing: border-box;
}

body {
    background-color: rgb(56, 56, 56);
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.outerShell{
    padding: 30px;
    border-radius: 10px;
    background-color: red;
}

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 600px; /* Fixed width */
    height: 600px; /* Fixed height */
    border: 1px solid black; /* Optional: for better visibility of container */
  }

  .cell {
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    background-color: white;
    border: 1px solid #ccc; /* Optional: for better visibility of cells */
  }

  .gridRow, .cell {
    margin: 0;
    padding: 0;
  }

button {
    background-color: white;
    font-weight: bold;
    border: none;
}

button:hover {
    background-color: rgb(145, 145, 145);
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.numberBtn {
    width: 64px;
    height: 64px;
    border-radius: 50px
}
.clearBtn {
    width: 64px;
    height: 64px;
    border-radius: 50px
}